<!--
 Copyright 2018 Google Inc.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!DOCTYPE html>
<html ⚡ lang="en">

  <head>
    <meta charset="utf-8" />
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>My YouTube Page</title>
    <link rel="canonical" href="https://potent-custard.glitch.me/" />
    <link rel="shortcut icon"
      href="https://cdn.glitch.com/d7f46a57-0ca4-4cca-ab0f-69068dec6631%2Fcheese-favicon.png?1540228964214" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />

    <style amp-boilerplate>
      body {
        -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        animation: -amp-start 8s steps(1, end) 0s 1 normal both
      }

      @-webkit-keyframes -amp-start {
        from {
          visibility: hidden
        }

        to {
          visibility: visible
        }
      }

      @-moz-keyframes -amp-start {
        from {
          visibility: hidden
        }

        to {
          visibility: visible
        }
      }

      @-ms-keyframes -amp-start {
        from {
          visibility: hidden
        }

        to {
          visibility: visible
        }
      }

      @-o-keyframes -amp-start {
        from {
          visibility: hidden
        }

        to {
          visibility: visible
        }
      }

      @keyframes -amp-start {
        from {
          visibility: hidden
        }

        to {
          visibility: visible
        }
      }
    </style><noscript>
      <style amp-boilerplate>
        body {
          -webkit-animation: none;
          -moz-animation: none;
          -ms-animation: none;
          animation: none
        }
      </style>
    </noscript>

    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>

    <style amp-custom>
      body {
        font-family: sans-serif;
        line-height: 1.5rem;
        min-width: 315px;
        width: 100%;
      }

      main {
        padding: 16px;
      }

      .video {
        width: 210px;
        margin-right: 4px;
      }

      .video h2 {
        margin: 8px 0;
        font-size: 14px;
        line-height: 14px;
      }

      .video p {
        margin: 0 0 4px 0;
        font-size: 12px;
        color: gray;
        line-height: 14px;
      }

      amp-list div[role="list"] {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      .placeholder-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      .placeholder-vid {
        margin-right: 4px;
      }

      .placeholder-vid .vid-pl {
        width: 210px;
        height: 118px;
        background-color: #d8d8d8;
      }

      .placeholder-vid .title-pl {
        width: 210px;
        height: 14px;
        margin-top: 8px;
        background-color: #d8d8d8;
      }
    </style>
  </head>

  <body>
    <main>
      <h2>Sports Info Recent Posts</h2>
      <amp-list width="auto" height="600" layout="fixed-height" src="http://localhost:4200/json/videos.json" [src]="'https://backend.sports.info/api/v1/posts/view/'">
        <template type="amp-mustache">
          <h1>{{sTitle}}</h1>
          <amp-img src="{{sImage}}" placeholder width="0.1" height="0.1" layout="responsive"></amp-img>
            <h2>{{ sDescription }}</h2>
            View Count<p>{{nViewCounts}}</p>
            <p>{{iId.sFirstName}}</p>
            <p>{{iId.sLastName}}</p>
        </template>
      </amp-list>
    </main>
  </body>

</html>